#userNameInput::placeholder {
  color: rgba(219, 216, 216, 0.795);
  font-weight: bold;
}

#userNameInput {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px rgba(255, 255, 255, 0.7) solid;
  border-radius: 7px;
  height: 45px;
  padding: 0 10px;
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  #gameExplainationCol {
    width: 720px;
    margin-top: 20px;
    margin-left: 0px !important;
  }
}

#gameExplainationCol {
  border: 3px solid #690b12;
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  #welcomePage {
    height: 100%;
  }
}
#welcomePage {
  color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #7d0d15, #8c0e17);
}

/* CSS */
#reloadImgButton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#reloadImgButton:hover {
  background-color: #fff;
}

#reloadImgButton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#welcomeContent {
  flex: 1 0 auto;
  padding: 10px;
}

.stepRule {
  background-color: #690b12;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #f7e400;
}

#avatarCol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 30px;
}

#createPartyCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 660px) {
  #createPartyCol {
    margin-top: 20px;
    width: 100%;
  }
  #avatarCol {
    margin-right: inherit;
    margin: auto;
  }
}
